<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/profile_style.css">
    <title>WAD2025</title>
</head>
<body>
    <div class="container">
        <h1>Whatislove</h1>
        <h2>General information</h2>
        <p>Hi, My name is Leyman Vladislav and I'm an ITMO master's student in information security. 
            I have graduated with a Bachelor's degree in Information Security from ITMO University. 
            I'm currently working as a cyber threat monitoring expert (SOC
            Analyst), 
            but I really want to grow up to be a cybersecurity analyst. On this page, 
            I want to save useful materials for training as a monitoring specialist.
        
        <h2>Skills</h2>
        <ul>
            <li>Active Directory</li>
            <li>PostgreSQL</li>
            <li>Python</li>
            <li>PowetShell/Linux Console</li>
            <li>
                IF scanners
                <button onclick="window.open('https://medium.com/@ajithchandranr/comprehensive-list-of-network-scanning-tools-d03da398c1d4', '_blank')">
                    Learn More
                </button>
            </li>
            <li>SIEM</li>
            <li>SOAR</li>
        </ul>
        <h2>Contacts</h2>
        <p>
                <button onclick="window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ', '_blank')">
                    fumblerx@yandex.ru
                </button>
            </p>
        <div style="position: relative;">
            <img src="static/meme_picture.jpg" alt="soi" style="position: absolute; left: 190px; max-width: 25%; margin-top: -105px;">
          </div>
    </div>
</body>
</html>
